body {
  /* set margin to 0 and overflow to hidden, to go fullsc{reen */
  margin: 0;
  overflow: hidden;
  background-color: #000000;
  color: white;
}
#info {
  font-family: monospace;
  font-weight: normal;
  position: absolute;
  top: 20px;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  font-size: 14px;
}

#info span {
  color: wheat;
}

.header {
  position: absolute;
  top: 8vh;
  left: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.header h1 {
  font-family: "Playfair Display";
  font-size: 4.5em;
  line-height: 1;
  margin: 0;
  letter-spacing: -0.025em;
  color: #d1b790;
}

.header h1 span {
  font-size: 0.2em;
  font-style: italic;
  display: block;
  margin: 0 0 -1.5em -13em;
  letter-spacing: 0px;
}

.header h2 {
  font-size: 0.585em;
  margin: 0.25em 0;
  white-space: nowrap;
  text-indent: 1em;
  letter-spacing: 1em;
  text-transform: uppercase;
  color: #d6483b;
}

.circle {
  display: none;
  position: absolute;
  bottom: 35px;
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  background: rgba(126, 126, 126, 0.5);
  border: #444 solid medium;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.thumb {
  position: absolute;
  left: 30%;
  top: 30%;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background: #fff;
}

@media only screen and (max-width: 1000px) {
  .circle {
    display: inline;
  }
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
