body {
  /* set margin to 0 and overflow to hidden, to go fullsc{reen */
  margin: 0;
  overflow: hidden;
  background-color: #000000;
  color: white;
}
#info {
  font-family: monospace;
  font-weight: normal;
  position: absolute;
  top: 20px;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  font-size: 14px;
}

#info span {
  color: wheat;
}

.header {
  position: absolute;
  top: 8vh;
  left: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.header h1 {
  font-family: "Playfair Display";
  font-size: 4.5em;
  line-height: 1;
  margin: 0;
  letter-spacing: -0.025em;
  color: #d1b790;
}

.header h1 span {
  font-size: 0.2em;
  font-style: italic;
  display: block;
  margin: 0 0 -1.5em -13em;
  letter-spacing: 0px;
}

.header h2 {
  font-size: 0.585em;
  margin: 0.25em 0;
  white-space: nowrap;
  text-indent: 1em;
  letter-spacing: 1em;
  text-transform: uppercase;
  color: #d6483b;
}
